.container {
    width: 80%;
	margin: 0 auto 2rem;

    .heading{
        font-size: 2rem;
        margin-top: 4rem;
    }

    .description {
        font-size: 1.5rem;
        margin-top: 1rem;
        font-weight: 500;
    }

    .list {
        margin-left: 1.6rem;

        li{
            font-size: 1rem;
        }
    }

    .sub-heading {
        margin-top: 4rem;
    }

    .sub-description {
        font-size: 1.1rem;
        font-weight: 500;
    }

	.contact-form {
		display: flex;
		flex-direction: column;
		
		.form-input {
			display: flex;
			gap: 2rem;
			padding-top: 2rem;

			@media screen and (max-width: 800px) {
				flex-direction: column;
			}

			.input-field {
				padding: 1rem 2rem;
				width: calc(100% - 4rem);
			}
		}

		.actions {
			margin-top: 2rem;
			display: flex;
			justify-content: flex-end;

			.submit {
				padding: 0.8rem 3rem;
				background-color: var(--color-primary);
				color: #fff;
				border: none;
				border-radius: 2px;
				font-weight: 600;
				letter-spacing: 1px;
			}
		}

	}
}