<div class="container">
	<h1 class="heading">Get in touch</h1>
	<p class="description">Customer care support center</p>

	<h3 class="sub-heading">Operating Hours</h3>
	<ul class="list">
		<li>Monday - Friday : 7hur-24hur</li>
		<li>Satuardy : 5hur-13hur</li>
		<li>Sunday : 5hur-13hur</li>
		<li>Public holidays : 5hur-13hur</li>
	</ul>

	<h3 class="sub-heading">E-mail Us</h3>
	<p class="sub-description">To enable us to help you. please provide all the innformation in the form below with the detailed comment and we'll get back to you as soon as possible</p>

	<form class="contact-form">

		<div class="form-input">
			<div class="name">
				<input class="input-field" type="text" name="name" placeholder="Name" id="name" required>
			</div>

			<div class="surname">
				<input class="input-field" type="text" name="name" placeholder="SurName" id="surname" required>
			</div>
			
		</div>

		<div class="form-input">
			<div class="email">
				<input class="input-field" type="email" name="name" placeholder="Email" id="Email" required>
			</div>

			<div class="contact-number">
				<input class="input-field" type="number" name="name" placeholder="Contact Number" id="Number" required>
			</div>  
		
		</div>

		<div class="form-input">
			<div class="subject">
				<input type="text" name="name" placeholder="Subject" id="Subject" required>
			</div>
		
		</div>

		<div class="form-input">
			<div class="Message">
				<input type="text" name="name" placeholder="Message" id="Subject" required>
			</div>
		
		</div>
		
		<div class="btn">
			<button class="submit">Submit</button>
		</div>
	</form>
</div>