<div class="container">
	<h1 class="heading">Get in touch</h1>
	<p class="description">Customer care support center</p>

	<h3 class="sub-heading">Operating Hours</h3>
	<ul class="list">
		<li>Monday - Friday : 7hur-24hur</li>
		<li>Satuardy : 5hur-13hur</li>
		<li>Sunday : 5hur-13hur</li>
		<li>Public holidays : 5hur-13hur</li>
	</ul>

	<h3 class="sub-heading">E-mail Us</h3>
	<p class="sub-description">To enable us to help you. please provide all the innformation in the form below with the detailed comment and we'll get back to you as soon as possible</p>

	<form class="contact-form">
		<div class="form-input">
			<input class="input-field" placeholder="Name" required>
			<input class="input-field" placeholder="SurName" required>
		</div>

		<div class="form-input">
			<input class="input-field" type="email" placeholder="Email" required>
			<input class="input-field" type="number" placeholder="Contact Number" required>
		</div>

		<div class="form-input">
			<input class="input-field" placeholder="Subject" required>
		</div>

		<div class="form-input">
			<textarea rows="10" class="input-field" placeholder="Message" required></textarea>
		</div>
		
		<div class="actions">
			<button class="submit">Submit</button>
		</div>
	</form>
</div>