<div class="security-tab">
	<div class="top-info">
		<h2 class="heading">complete SECURITY</h2>
		<mat-divider [inset]="true" [vertical]="true"></mat-divider>
		<p>The security and privacy of your personal information is our priority. Our most valued asset is your trust</p>
	</div>

	<div class="guide">Here is a quick guide to some of our security measures</div>

	<ul>
		<li>
			<h3>Encryped credit card details</h3>
			<p class="description">
				Your card details are encryped using the industry standard Secure Socket Layer (SSL) standard. Thawte and Verisign 
				is used to protect the credit card number from eavesdroppers tapping into the telecommunications line
			</p>
		</li>
		
		<li style="margin-bottom: 4rem;">
			<h3>Trusted security brand</h3>
		</li>

		<li>
			<h3>3D Secure</h3>
			<p class="description">
				Transactions are 3D secure. 3D secure is a Visa and Mastercard international secure on-line transacting mechanism. 
			</p>
		</li>
	</ul>
</div>