<div class="container">
	<h2 class="heading">Pay Bills</h2>

	<div class="billing-header">
		<div class="billing-tabs">
			<div class="pointing-right" [ngClass]="stage === 'SelectBill' ? 'selected' : 'non-selected'">
				<div class="pointer">
					Select Bill
				</div>
			</div>
	
			<div class="pointing-left gray-left pointing-right" [ngClass]="stage === 'AmountEntry' ? 'selected' : 'non-selected'">
				<div class="pointer">Confirm</div>
			</div>
		</div>

		<button class="btn btn-blue" (click)="onAddBill()">Add Bill</button>
	</div>

	<ng-container *ngIf="stage === 'SelectBill'">
		<ng-container *ngIf="bills.length > 0; else noBills">
			<table class="billing-tabular-data">
				<thead>
					<tr>
						<th>Biller</th>
						<th>Bank</th>
						<th>Account</th>
						<th>My reference</th>
						<th>Their Reference</th>
					</tr>
				</thead>

				<tbody>
					<tr *ngFor="let bill of bills;">
						<td>{{ bill.accountHolder }}</td>
						<td>{{ bill.bank }}</td>
						<td>{{ bill.accountNumber }}</td>
						<td>{{ bill.yourReference }}</td>
						<td>{{ bill.theirReference }}</td>

						<td (click)="onSelectBill(bill)">
							<mat-radio-button color="primary"></mat-radio-button>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- For mobile screen only -->
			<div class="billing-non-tabular-data">
				<div class="bill-rec" *ngFor="let bill of bills;">
					<div class="data">
						<div class="row">
							<div class="col">
								<div class="label">Biller</div>
								<div class="value">{{ bill.accountHolder }}</div>
							</div>
	
							<div class="col">
								<div class="label">Bank</div>
								<div class="value">{{ bill.bank }}</div>
							</div>
						</div>
	
						<div class="row flex-column">
							<div class="label">Account</div>
							<div class="value">{{ bill.accountNumber }}</div>
						</div>
	
						<div class="row">
							<div class="col">
								<div class="label">My reference</div>
								<div class="value">{{ bill.yourReference }}</div>
							</div>
	
							<div class="col">
								<div class="label">Their reference</div>
								<div class="value">{{ bill.theirReference }}</div>
							</div>
						</div>
					</div>

					<button class="btn select-bill" [class.btn-selected]="selectedBill === bill" (click)="onSelectBill(bill)">Select Bill</button>
				</div>
			</div>

			<div class="actions">
				<button class="btn btn-gray" [disabled]="!selectedBill" (click)="onContinue()">Continue</button>
			</div>
		</ng-container>

		<ng-template #noBills>
			<div class="no-data">No bills added</div>
		</ng-template>
	</ng-container>

	<ng-container *ngIf="stage === 'AmountEntry'">
		<div class="payment">
			<div class="labels">
				<div class="col">Biller</div>
				<div class="col">Amount</div>
			</div>
			
			<div class="values">
				<div class="col">{{ this.selectedBill?.accountHolder }}</div>
				<input class="col field" type="text" placeholder="Ener Amount" [formControl]="amount">
			</div>	
		</div>

		<div class="actions">
			<button class="btn btn-gray" (click)="onAddToCart()" [disabled]="!amount.value">Add to cart</button>
		</div>
	</ng-container>
</div>