.container {
	display: flex;
	flex-direction: column;

	.btn {
		background-color: var(--color-secondary);
		border: none;
		padding: .8rem 1rem;
		border-radius: 6px;
		cursor: pointer;
		color: #fff;
		font-size: 1.6rem;
	}
}