.container {
	display: flex;
	flex-direction: column;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.table {
		margin: 2rem 0;
		border: 1px solid #f9ffff;
		padding: 2rem 1rem;

		th {
			text-align: left;
		}

		td {
			color: #c5cfdc;
		}
	}

	.no-data {
		text-align: center;
		font-size: 1.1rem;
		margin: 4rem 0;
	}

	.bill-payment {
		margin: 2rem 0;

		.labels {
			display: flex;
			margin-bottom: .5rem;
		}

		.col {
			width: 30%;
		}

		.values {
			display: flex;
			align-items: center;
			color: #c5cfdc;
		}

		.field {
			padding: 1rem 2rem;
			background: none;
			border: 1px solid #c5cfdc;
			color: #c5cfdc;
			outline: none;
		}	
	}

	.actions {
		display: flex;
		justify-content: flex-end;
	}

	.btn {
		background-color: var(--color-gray);
		border: none;
		padding: 0.8rem 0;
		cursor: pointer;
		color: #5d5d5d;
		width: 13rem;
		font-size: 1.6rem;

		&:disabled {
			opacity: .4;
			cursor: default;
		}
	}
}