<div class="register">
	<mat-stepper class="stepper" [linear]="true" #stepper>
		<mat-step [stepControl]="basicInfoForm">
			<form [formGroup]="basicInfoForm" class="form">
				<ng-template matStepLabel class="stepper-label">Fill out your name</ng-template>

				<div class="form-group">
					<input class="form-control" (keydown)="alphabetOnly($event)" required placeholder="First Name" formControlName="firstName">
					<mat-error *ngIf="basicInfoForm.get('firstName')?.hasError('required') && basicInfoForm.get('firstName')?.touched">
						First Name is required
					</mat-error>
				</div>

				<div class="form-group">
					<input class="form-control" (keydown)="alphabetOnly($event)" required placeholder="Last Name" formControlName="lastName">
					<mat-error *ngIf="basicInfoForm.get('lastName')?.hasError('required') && basicInfoForm.get('lastName')?.touched">
						Last Name is required
					</mat-error>
				</div>

				<div class="form-group">
					<input class="form-control" (keydown)="numericOnly($event)" required placeholder="Cell Number" formControlName="cellNumber">
					<mat-error *ngIf="basicInfoForm.get('cellNumber')?.invalid && basicInfoForm.get('cellNumber')?.touched">
						<div *ngIf="basicInfoForm.get('cellNumber')?.hasError('required')">Cell Number is required</div>
						<div *ngIf="basicInfoForm.get('cellNumber')?.hasError('minlength')">Cell Number must be minimum 10 digits</div>
						<div *ngIf="basicInfoForm.get('cellNumber')?.hasError('maxlength')">Cell Number must be maximum 10 digits</div>
					</mat-error>
				</div>

				<div class="form-group">
					<input class="form-control" (keydown)="numericOnly($event)" placeholder="Id Number" formControlName="idNumber" required>
					<mat-error *ngIf="basicInfoForm.get('idNumber')?.invalid && basicInfoForm.get('idNumber')?.touched">
						<div *ngIf="basicInfoForm.get('idNumber')?.hasError('required')">Id Numer is required</div>
						<div *ngIf="basicInfoForm.get('idNumber')?.hasError('minlength')">Id Numer must be minimum 13 digits</div>
						<div *ngIf="basicInfoForm.get('idNumber')?.hasError('maxlength')">Id Numer must be maximum 13 digits</div>
					</mat-error>
				</div>

				<div class="form-group">
					<input class="form-control" type="email" placeholder="Email" formControlName="email" required>
					<mat-error *ngIf="basicInfoForm.get('email')?.invalid && basicInfoForm.get('email')?.touched">
						<div *ngIf="basicInfoForm.get('email')?.hasError('required')">Email is required</div>
						<div *ngIf="basicInfoForm.get('email')?.hasError('email')">Email is invalid</div>
					</mat-error>
				</div>

				<div class="mt-3">
					<button mat-raised-button class="mr-3" color="warn" routerLink="/">Cancel</button>
					<button mat-raised-button color="primary" matStepperNext [disabled]="basicInfoForm.invalid">Next</button>
				</div>
			</form>
		</mat-step>

		<mat-step [stepControl]="terms" label="Terms and conditions">
			<div class="form">
				<h2>Terms of Services</h2>

				<p class="conditions">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusantium ullam eius veritatis, 
					sequi vel iste necessitatibus cupiditate porro iusto, 
					praesentium, blanditiis placeat architecto sed perferendis. Eveniet dolore unde assumenda.
				</p>

				<mat-checkbox [formControl]="terms">I accept the Terms and Conditions </mat-checkbox>

				<div class="mt-3">
					<button mat-raised-button color="warn" class="mr-3" matStepperPrevious>Back</button>
					<button mat-raised-button color="primary" matStepperNext [disabled]="terms.invalid">Next</button>
				</div>
			</div>
		</mat-step>
		
		<mat-step [stepControl]="credentialsForm" label="Final Details">
			<form [formGroup]="credentialsForm" class="form">

				<div class="form-group">
					<input class="form-control" placeholder="Username" formControlName="userName" required>
					<mat-error *ngIf="credentialsForm.get('userName')?.hasError('required') && credentialsForm.get('userName')?.touched">
						Username is required
					</mat-error>
				</div>

				<div class="form-group">
					<input class="form-control" type="password" placeholder="Password" formControlName="password" required>
					<mat-error *ngIf="credentialsForm.get('password')?.hasError('required') && credentialsForm.get('password')?.touched">
						Password is required
					</mat-error>
				</div>

				<div class="form-group">
					<input class="form-control" type="password" placeholder="Repeat Password" formControlName="confirmPassword" required>
					<mat-error *ngIf="credentialsForm.get('confirmPassword')?.hasError('required') && credentialsForm.get('confirmPassword')?.touched">
						<div *ngIf="credentialsForm.get('confirmPassword')?.hasError('required')">Repeat Password is required</div>
						<div *ngIf="credentialsForm.get('confirmPassword')?.hasError('confirmedValidator')">Repeat Password must match with password</div>
					</mat-error>
				</div>
			</form>

			<div class="mt-3">
				<button mat-raised-button color="primary" (click)="onSubmit(stepper)" [disabled]="credentialsForm.invalid">Next</button>
			</div>
		</mat-step>

		<mat-step label="Successful">
			<p>You have completed the registration.</p>

			<div class="mt-3">
				<button mat-raised-button color="primary" routerLink="/login">Login</button>
			</div>
		</mat-step>
	</mat-stepper>
</div>