<footer class="footer">
    <div class="about">
        <h4>About</h4>
        <p>Buy Prepaid Electricity, Pay Your bills or Top-Up your DSTV Box <br>Office account from one easy to use</p>
    </div>
    <hr>

    <div class="Contact">
        <h4>Contact</h4>
        <p>Buy Prepaid Electricity, Pay Your bills or Top-Up your DSTV Box<br> Office account from one easy to use</p>
    </div>
    <hr>
	
    <div class="social">
        <h4>Social</h4>
        <p>Buy Prepaid Electricity, Pay Your bills or Top-Up your DSTV Box<br> Office account from one easy to use</p>
    </div>
</footer>
