<header class="header">
    <div class="logo">
		<h1 class="app-name" routerLink="/">
			<span class="first-name">switch</span>
			<span class="second-name">one</span>
		</h1>

        <nav class="nav">
            <ul>
                <li routerLink="home">Home</li>
                <li>FAQ</li>
                <li routerLink="contact-us">Contact Us</li>
            </ul>
        </nav>
    </div>

    <div>
        <ul>
            <li routerLink="login">Sign In</li>
            <li routerLink="register">Register</li>
        </ul>
    </div>
</header>