<header class="header sticky">
    <div class="logo">
		<div routerLink="/">
			<img src="/assets/images/logo.jpg" class="logo-image" alt="Logo">
		</div>

        <nav class="nav nav-left">
            <ul>
                <li routerLink="/">Home</li>
                <li routerLink="contact-us">Contact Us</li>
            </ul>
        </nav>
    </div>

	<mat-icon class="humburger-menu-icon" (click)="toggleMenu($event)">menu</mat-icon>

    <div class="nav">
        <ul>
            <li routerLink="login">Sign In</li>
            <li routerLink="register">Register</li>
        </ul>
    </div>

	<nav class="mobile-nav" *ngIf="showMobileMenu" (click)="toggleMenu($event)">
		<ul>
			<li routerLink="home">Home</li>
			<li routerLink="contact-us">Contact Us</li>
			<li routerLink="login">Sign In</li>
            <li routerLink="register">Register</li>
		</ul>
	</nav>
</header>