.billing-tab {
	top: 48%;
	left: 25%;
	color: #fff;
	display: flex;

	.side-nav {
		border: 1px solid #eee;
		padding: 1rem;
		margin-right: 2rem;

		.logo {
			width: 10rem;
		}

		ul {
			list-style: none;

			li {
				margin-bottom: 1rem;
				font-size: 1.3rem;
				color: #eee;
				cursor: pointer;
			}
		}
	}

	.content {
		width: 60%;
	}

	.active {
		color: var(--color-secondary) !important;
	}
}