.billing-tab {
	color: #fff;
	display: flex;
	align-items: flex-start;
	margin-bottom: 8rem;
	
	$mobile-screen: 750px;

	@media screen and (max-width: $mobile-screen) {
		flex-direction: column;
	}

	.side-nav {
		border: 1px solid #6b7a99;
		padding: 1rem 2rem;
		margin-right: 2rem;

		@media screen and (max-width: $mobile-screen) {
			border: none;
			padding: 1rem 0;
		}

		.logo {
			width: 13rem;

			@media screen and (max-width: $mobile-screen) {
				display: none;
			}
		}

		ul {
			list-style: none;
			margin: 2rem 0 10rem;

			li {
				display: flex;
				align-items: center;
				margin-bottom: 2rem;
				font-size: 1.3rem;
				color: #eee;
				cursor: pointer;

				mat-icon {
					margin-right: 1rem;
				}
			}

			@media screen and (max-width: $mobile-screen) {
				display: flex;
				margin: 0;

				li {
					text-transform: uppercase;
					margin-bottom: 0;
					margin-right: 2.5rem;
					border-bottom: 1px solid #b8c7cd;
				}

				mat-icon {
					display: none;
				}
			}
		}
	}

	.content {
		width: 100%;

		@media screen and (max-width: 400px) {
			margin-top: 2rem;
		}
	}

	.active {
		color: var(--color-secondary) !important;
		
		@media screen and (max-width: 750px) {
			border-bottom: 1px solid var(--color-secondary) !important;
		}
	}
}