<div class="content">
    <div class="mask">
        <img src="https://media.istockphoto.com/photos/portrait-of-black-family-with-kids-relax-on-couch-picture-id1166112327?b=1&k=20&m=1166112327&s=170667a&w=0&h=w1vtOOyU7hoefOGnT8tqTKvkzJoXl0mRu1eu4lOrOmw="
            alt="Girl in a jacket">
    </div>

    <ul class="tabs">
        <li class="tab" [class.active]="tab.selected" (click)="onTabChange(tab)" *ngFor="let tab of tabs">
			{{ tab.title }}
		</li>
    </ul>

	<div class="tab-content-container" [ngSwitch]="selectedTab.name">
		<div *ngSwitchCase="'features'">
			<app-features></app-features>
		</div>

		<ng-container *ngSwitchCase="'how_to_use'">
			<app-how-to-use></app-how-to-use>
		</ng-container>

		<div *ngSwitchCase="'security'">
			Security
		</div>

		<div *ngSwitchCase="'billing'">
			Billing
		</div>
	</div>
</div>