.landing-page {
	position: relative;
	min-height: calc(100vh - 21rem);
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	&::before {
		content: "";
		background-image: url('/assets/images/family.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
		opacity: .4;

		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	.content {
		position: relative;
		width: 60%;
		margin: 20rem 0 15rem;

		@media screen and (max-width: 1280px) {
			width: 80%;
		}

		.tabs {
			display: flex;
			justify-content: center;
			
			.tab {
				font-weight: 600;
				margin: 4px 2px;
				padding: 0.5rem 2.5rem;
				border-radius: 5px;
				border: none;
				color: gray;
				text-align: center;
				display: inline-block;
				cursor: pointer;
				background: rgb(241, 234, 234);
				text-transform: uppercase;
		
				@media screen and (max-width: 800px) {
					padding: .5rem 1rem;
					font-size: 1.4rem;
				}
		
				@media screen and (max-width: 510px) {
					font-size: 1rem;
				}
			}
		}
	
		.active {
			color: var(--color-secondary) !important;
			background: none !important;
		}
	}
}