<div class="content">
    <div class="mask">
        <img src="https://media.istockphoto.com/photos/portrait-of-black-family-with-kids-relax-on-couch-picture-id1166112327?b=1&k=20&m=1166112327&s=170667a&w=0&h=w1vtOOyU7hoefOGnT8tqTKvkzJoXl0mRu1eu4lOrOmw="
            alt="Girl in a jacket">
    </div>

    <ul class="tabs">
        <li class="tab" [class.active]="tab.selected" (click)="onTabChange(tab)" *ngFor="let tab of tabs">
			{{ tab.title }}
		</li>
    </ul>

	<div class="tab-content-container" [ngSwitch]="selectedTab.name">
		<div *ngSwitchCase="'features'">
			<h2>What Would You Like To do ?</h2>

			<div class="cards">
				<div class="card" *ngFor="let card of cards;">
					<div>
						<h3 class="title">{{ card.title }}</h3>
						<p class="description">{{ card.description }}</p>
					</div>
		
					<button class="btn">{{ card.actionText }}</button>
				</div>
			</div>
		</div>

		<div class="how_to_use" *ngSwitchCase="'how_to_use'">
			<div class="text">
				<div class="heading">
					Register for free
				</div>

				<div class="description">
					Registration is free and you can start paying bills instantly. Simply click on register and compete the form
				</div>
			</div>
			<img class="image" src="/assets/images/lcd.jpg" alt="LCD">
		</div>

		<div *ngSwitchCase="'security'">
			Security
		</div>

		<div *ngSwitchCase="'billing'">
			Billing
		</div>
	</div>
</div>