.how_to_use {
	background-color: var(--color-primary);
	display: flex;
	justify-content: space-between;
	color: #fff;
	padding: 8rem 10rem;
	margin-bottom: 8rem;

	@media screen and (max-width: 750px) {
		flex-direction: column;
		align-items: center;
	}

	@media screen and (max-width: 1200px) {
		padding: 5rem 6rem;
	}

	.text {
		margin-top: 4rem;
		width: 30rem;

		@media screen and (max-width: 750px) {
			display: flex;
			flex-direction: column;
			text-align: center;
			margin: 4rem 0;
		}

		@media screen and (max-width: 500px) {
			margin-bottom: 4rem;
			width: 100%;
		}

		.heading {
			font-size: 2.5rem;
			font-weight: 600;
		}

		.description {
			margin-top: 1rem;
			font-size: 1.6rem;

			@media screen and (max-width: 650px) {
				text-align: center;
			}
		}
	}

	.image {
		width: 35rem;
		height: 24rem;
		mix-blend-mode: multiply;
		object-fit: contain;

		@media screen and (max-width: 800px) {
			width: 27rem;
			height: 20rem;
		}
	}
}