.container {
	display: flex;
	flex-direction: column;

	.bill {
		display: flex;
		background-color: #042f60;
		margin-bottom: 1rem;
		padding: .4rem 1rem;
		cursor: pointer;

		.reference-number {
			width: 30%;
		}
	}

	.no-data {
		text-align: center;
		font-size: 1.1rem;
	}

	.meter-payment {
		display: flex;
		flex-direction: column;

		.meter-info {
			margin-right: 4rem;
		}
	}

	.card-details {
		display: flex;
		flex-direction: column;
	}
	
	.field {
		padding: 1rem 2rem;
		background: none;
		border: 1px solid #e2cccc;
		color: #fff;
		outline: none;
	}

	.actions {
		display: flex;
		justify-content: flex-end;
	}

	.btn {
		background-color: var(--color-secondary);
		border: none;
		padding: .8rem 1rem;
		border-radius: 6px;
		cursor: pointer;
		color: #fff;
		font-size: 1.6rem;

		margin-top: 2rem;
	}
}