.container {
	display: flex;
	flex-direction: column;

	.tabs {
		display: flex;
		margin-bottom: 2rem;

		.pointer {
			width: 16rem;
			height: 4rem;
			position: relative;
	
			display: flex;
			align-items: center;
			justify-content: center;
	
			cursor: pointer;
		}
	
		.selected {
			.pointer {
				background-color: #083666 !important;
	
				&::before {
					border-left: 20px solid #083666 !important;
					z-index: 1;
				}
			}
		}
	
		.non-selected {
			.pointer {
				background-color: #fff !important;
				color: #000;
	
				&::before {
					border-left: 20px solid #fff !important;
					z-index: 1;
				}
			}
		}
	
		.gray-left {
			.pointer {
				&::after {
					left: 1px !important;
					border-left: 20px solid gray !important;
				}
			}
		}
	
		.disabled {
			border: 1px solid gray;
			color: gray;
			cursor: default;
		}
		
		.pointing-left {
			.pointer:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				height: 0;
				border-left: 20px solid transparent;
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
			}
		}
	
		.pointing-right {
			.pointer:before {
				content: "";
				position: absolute;
				right: -20px;
				bottom: 0;
				width: 0;
				height: 0;
				border-left: 20px solid transparent;
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
			}
		}
	}

	.bill {
		display: flex;
		background-color: #042f60;
		margin-bottom: 1rem;
		padding: .4rem 1rem;
		cursor: pointer;

		.reference-number {
			width: 30%;
		}
	}

	.meter-payment {
		display: flex;
		flex-direction: column;

		.meter-info {
			margin-right: 4rem;
		}
	}

	.card-details {
		display: flex;
		flex-direction: column;
	}
	
	.field {
		padding: 1rem 2rem;
		background: none;
		border: 1px solid #e2cccc;
		color: #fff;
		outline: none;
	}

	.actions {
		display: flex;
		justify-content: flex-end;
	}

	.btn {
		background-color: var(--color-secondary);
		border: none;
		padding: .8rem 1rem;
		border-radius: 6px;
		cursor: pointer;
		color: #fff;
		font-size: 1.6rem;

		margin-top: 2rem;
	}
}