<div class="container">
	<h2>Pay Bill</h2>

	<ng-container *ngIf="bills.length > 0; else noBills">
		<ng-container *ngIf="stage === 'BillList'">
			<div class="bill" *ngFor="let bill of bills" (click)="onSelectBill(bill)">
				<div class="reference-number">{{ bill.referenceNumber}}</div>
				<div>{{ bill.alias}}</div>
			</div>
	
			<div class="actions">
				<button class="btn" routerLink="/add_bill">Add Bill</button>
			</div>
		</ng-container>

		<ng-container *ngIf="stage === 'AmountEntry'">
			<input type="text" placeholder="Ener Amount">

			<div class="actions">
				<button class="btn" routerLink="/payment_method">Continue</button>
			</div>
		</ng-container>
	</ng-container>

	<ng-template #noBills>
		<div class="no-bill">No bills added</div>
		<button class="btn" routerLink="/add_bill">Add Bill</button>
	</ng-template>
</div>